* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: aliceblue;
    height: 100%;
    display:grid;
    place-content: center;
    height:100%;
  }
  img{
      width: 100%;
      height: auto;
  }
  .wrapper{
     max-width: 1024px;
     display:grid;
     place-content: center;
     height:100%;
     overflow:hidden;
     padding:1.5rem;
  }
  .container{
      width:50rem;
      display: grid;
      grid-template-columns: 30% 70%;
      box-shadow: 2px 4px 10px 3px rgb(143, 143, 139);
      
  }
  .box1{
      background-color: rgba(0,0,0, 0.8);
      color:rgb(143, 143, 139);
      
  }
  .box1,.box2{
      padding: 1.1rem;;
  }
  
  .box1 h1{
  margin:1rem 0;
  }
  
  .box1 h4{
      margin:0.5rem 0;
      font-weight: normal;
      }
      .box2{
  background-color: white;
      }
  
  .logo{
      display:flex;
      flex: 33.33%;
      width: 100%;
  
  }
  .logo img{
      margin:0.8rem;
      width:100px;
  }
  .box2 h3{
      font-weight:normal;
      font-size: 16px;
  }
  